.frame {
  fill: #fff;
  fill-opacity: .7;
  stroke: #aaa;
}

.brush {
  fill: #000;
  fill-opacity: .125;
  stroke: #B0A2A8;
}

.interaction {
  stroke-width: 1;
  stroke: black;
  opacity: 1;
}

.jmol-viewer {
  position: fixed;
  left: 760px;
  top: 380px;
  resize:both;
  overflow:auto;
}

.jmol {
  border: 1px solid #ddd;
}

.motif {
  fill: #000;
  fill-opacity: .25;
  stroke: #B0A2A8;
}

.IL {
  fill: #5BB75B;
  fill-opacity: .25;
  stroke: #387038;
}

.HL {
  fill: #49AFCD;
  fill-opacity: .25;
  stroke: #1F6377
}
